.text-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text-input__label {
  flex-shrink: 0;
  line-height: 22px;
  color: $color-primary;
  font-size: 14px;
  text-transform: uppercase;
}

.text-input__icon-positioner {
  position: relative;
  z-index: 0;
  display: flex;
  width: 100%;
}

.text-input__icon-wrapper {
  @include media-breakpoint-only(mobile) {
    display: none;
  }

  @include media-breakpoint-up(tablet) {
    position: absolute;
    bottom: 1px;
    right: 2px;
    width: 60px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-controls;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.text-input__icon {
  display: block;
  fill: $color-primary;
}

.text-input__field {
  flex-grow: 1;
  margin: 0;
  padding: 15px 20px 14px;
  overflow: visible;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $color-text-base;
  border: solid 2px $color-controls;
  border-radius: 2px;
  background-color: #ffffff;
  outline: 0;

  & ::placeholder {
    color: $color-text-base;
  }

  &:hover {
    border-color: $color-secondary;
  }

  &:focus {
    border-color: $color-primary;
  }
}

.text-input__field--area {
  resize: none;
  // disable scroll in ie
  overflow: auto;
  padding: 14px 19px;
}

.text-input__field--iconised {
  @include media-breakpoint-up(tablet) {
    padding-right: 60px;
  }
}

.text-input__field:disabled {
  opacity: 0.5;
}
