.text-input__hidden-label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.text-input__icon-positioner {
  position: relative;
  z-index: 0;
  display: flex;
}

.text-input__icon {
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.2;

  @media (max-width: $mobile-only) {
    right: 6px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    right: 24px;
  }

  @media (min-width: $desktop) {
    right: 5px;
  }
}

.text-input__field {
  flex-grow: 1;
  margin: 0;
  overflow: visible;
  font: inherit;
  color: $color-text-base;
  border: 0;
  border-bottom: 2px solid $color-text-base;
  background-color: transparent;
  outline: 0;

  @media (max-width: $mobile-only) {
    padding: 16px 18px 16px 0;
    font-size: 17px;
    line-height: 18px;
  }

  @media (min-width: $tablet) {
    padding: 13px 18px;
    font-size: 19px;
  }
}

.text-input__field:hover,
.text-input__field:focus,
.text-input__field:active {
  border-color: $color-primary;
}

.text-input__field:hover+.text-input__icon,
.text-input__field:focus+.text-input__icon,
.text-input__field:active+.text-input__icon {
  fill: $color-primary;
  opacity: 1;
}

.text-input__field--text {
  height: 52px;
}

.text-input__field--area {
  resize: none;
  // disable scroll in ie
  overflow: auto;
  border: 2px solid $color-text-base;

  @media (max-width: $mobile-only) {
    padding: 14px 18px;
  }

  @media (min-width: $tablet) {
    padding: 10px 14px;
  }
}

.text-input__field--area:hover,
.text-input__field--area:focus,
.text-input__field--area:active {
  border-color: $color-primary;
}

.text-input__field--iconised {
  padding-right: 58px;
}

.text-input__field::placeholder {
  color: rgba($color-text-base, 0.3);
}

.text-input__label {
  flex-shrink: 0;
  margin-right: 25px;
  line-height: 18px;
  font-weight: 700;
  color: $color-text-base;

  @media (max-width: $mobile-only) {
    font-size: 17px;
  }

  @media (min-width: $tablet) {
    font-size: 19px;
  }
}

.text-input__field:disabled {
  background-color: $color-border;
  border-color: rgba($color-text-base, 0.5);
  opacity: 0.5;
}
