.gallery {
  overflow-x: hidden;
}

.gallery__layout {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin: -20px 0 0 -20px;
  }

  @media (min-width: $desktop) {
    margin: -54px 0 0 -20px;
  }
}

.gallery__layout-item {
  @media (max-width: $mobile-only) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $tablet) {
    padding: 20px 0 0 20px;
    display: flex;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    min-height: 474px;
    // flex: 0 0 50%;
    // для IE11 тоже самое в 2 строки:
    flex-shrink: 0;
    width: 50%;
  }

  @media (min-width: $desktop) {
    min-height: 609px;
    padding: 54px 0 0 20px;
    // flex: 0 0 33.3333%;
    // для IE11 тоже самое в 2 строки:
    flex-shrink: 0;
    width: 33.3333%;
  }
}

.gallery__layout-item--pan {
  @media (min-width: $tablet) {
    flex: 0 0 100%;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: -5px;
  }
}

.gallery__intro {
  @media (max-width: $mobile-only) {
    margin-bottom: 49px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 88px;
  }
}
