.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal--closed {
  display: none;
}

.modal__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-image: linear-gradient(to top, $color-background 163px, white 163px);

  @media (max-width: $mobile-only) {
    max-width: 460px;
    padding: 46px $side-paddings-mobile 50px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    max-width: 460px;
    padding: 51px 70px 46px;
  }

  @media (min-width: $desktop) {
    max-width: 781px;
    padding: 51px 190px 46px;
  }
}

.modal--error .modal__inner {
  @media (max-width: $tablet-only) {
    background-image: none;
  }
}

.modal__inner .modal--closed {
  display: none;
}

.modal__header {
  margin: 0 0 20px 0;
  width: 100%;
  text-align: center;
  color: #000000;

  @media (max-width: $mobile-only) {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__message {
  margin: 0;
  width: 100%;

  @media (min-width: $tablet) {
    min-height: 72px;
    font-size: 18px;
    line-height: 24px;
  }
}

.modal__button {
  @media (max-width: $mobile-only) {
    width: 100%;
    margin-top: 78px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    width: 300px;
    margin-top: 79px;
  }

  @media (min-width: $desktop) {
    width: 462px;
    margin-top: 82px;
  }
}

.modal--error .modal__button {
  @media (max-width: $mobile-only) {
    margin-top: 36px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-top: 36px;
  }

  @media (min-width: $desktop) {
    width: 300px;
    margin-top: 82px;
  }
}
