.link {
  color: $color-primary;
  text-decoration: underline;

  @media (max-width: $tablet-only) {
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}

.link:hover,
.link:focus {
  color: $color-primary--darker;
  text-decoration: none;
}

.link:active {
  opacity: 0.3;
}
