.logo {
  outline: none;
}

.logo:hover:not(:active),
.logo:focus:not(:active) {
  color: $color-primary;
}

.logo:active {
  opacity: 0.3;
}

.logo__image {
  display: none;
  fill: currentColor;
}

.logo--header {
  color: #ffffff;
}

.logo--footer {
  color: $color-secondary;
}

.logo__image--mobile {
  @media (max-width: $mobile-only) {
    display: block;
  }
}

.logo__image--tablet {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    display: block;
  }
}

.logo__image--desktop {
  @media (min-width: $desktop) {
    display: block;
  }
}
