.post {
  margin: 0;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.post--pan {
  position: relative;
  z-index: 0;

  @media (min-width: $tablet) {
    display: block;
  }
}

.post__pan-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    top: 57px;
  }

  @media (min-width: $desktop) {
    top: 54px;
  }
}

.post__pan-label--pan-of-day {
  color: #ffffff;
  background-color: $color-primary;
}

.post__image-link {
  display: block;

  @include hover-effects--light;
}

.post__image-wrapper {
  margin: 0;
}

.post--pan .post__image-wrapper {
  @include full-width;

  @media (min-width: $tablet) {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.post__image {
  display: block;
  width: 100%;
}

.post--pan .post__image {
  height: 100%;
  max-width: none;
  width: auto;

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    min-height: 509px;
  }

  @media (min-width: $desktop) {
    min-height: 506px;
    max-height: 800px;
  }
}

.post__info {
  background-color: $color-background;

  @media (max-width: $mobile-only) {
    padding: 18px 18px 8px;
  }

  @media (min-width: $tablet) {
    padding: 24px 27px 10px;
    flex-grow: 1;
  }
}

.post:not(.post--pan) .post__info {
  display: flex;
  flex-direction: column;
}

.post--pan .post__info {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 28px 25px;
  }
}

.post--pan .post__header {
  @media (max-width: $mobile-only) {
    margin-bottom: 11px;
  }
}

.post__author {
  font-weight: 700;
}

.post__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.post__text {
  margin: 0;
  // костыль для pp
  letter-spacing: -0.014em;
}

.post:not(.post--pan) .post__text {
  @media (min-width: $tablet) {
    margin-bottom: auto;
  }
}

.post--pan .post__text {
  order: 2;
  flex: 0 0 100%;
  margin-top: -12px;
}

.post__footer {
  display: flex;
  align-items: center;
  color: $color-primary;

  @media (max-width: $mobile-only) {
    margin: -3px 0 0 -17px;
  }

  @media (min-width: $tablet) {
    justify-content: space-between;
  }
}

.post--pan .post__footer {
  @media (max-width: $mobile-only) {
    margin-top: -2px;
  }

  @media (min-width: $tablet) {
    order: 1;
    margin-right: -16px;
  }
}

.post__like-button {
  flex-shrink: 0;
  padding: 18px 17px;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet) {
    order: 1;
  }

  @include hover-effects;
}

.post:not(.post--pan) .post__like-button {
  @media (min-width: $tablet) {
    transform: translateX(12px);
  }
}

.post__like-icon {
  display: block;
  fill: currentColor;
}

.post__liked-stats {
  text-transform: uppercase;
  font-size: 12px;
}
