.page-entry {
  background-color: $color-secondary;
  background-repeat: no-repeat;
  background-position: center top;

  @media (max-width: $mobile-only) {
    min-height: 237px;
    padding-top: 98px;
    background-image: url("../img/raster/bg-back-mobile@1x.jpg");

    @supports (background-image: url("../img/raster/bg-back-mobile@1x.webp")) {
      background-image: url("../img/raster/bg-back-mobile@1x.webp");
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/raster/bg-back-mobile@2x.jpg");
      background-size: auto 462px;

      @supports (background-image: url("../img/raster/bg-back-mobile@2x.webp")) {
        background-image: url("../img/raster/bg-back-mobile@2x.webp");
      }
    }
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    min-height: 440px;
    padding-top: 183px;
    background-image: url("../img/raster/bg-back-tablet@1x.jpg");

    @supports (background-image: url("../img/raster/bg-back-tablet@1x.webp")) {
      background-image: url("../img/raster/bg-back-tablet@1x.webp");
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/raster/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;

      @supports (background-image: url("../img/raster/bg-back-tablet@2x.webp")) {
        background-image: url("../img/raster/bg-back-tablet@2x.webp");
      }
    }
  }

  @media (min-width: $desktop) {
    min-height: 394px;
    padding-top: 173px;
    background-image: url("../img/raster/bg-back-desktop@1x.jpg");

    @supports (background-image: url("../img/raster/bg-back-desktop@1x.webp")) {
      background-image: url("../img/raster/bg-back-desktop@1x.webp");
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/raster/bg-back-desktop@2x.jpg");
      background-size: 2600px auto;

      @supports (background-image: url("../img/raster/bg-back-desktop@2x.webp")) {
        background-image: url("../img/raster/bg-back-desktop@2x.webp");
      }
    }
  }
}

.page-entry--app {
  @media (max-width: $mobile-only) {
    padding-top: 90px;
  }

  @include media-breakpoint-only(tablet) {
    padding-top: 184px;
  }

  @include media-breakpoint-up(desktop) {
    padding-top: 209px;
  }
}

.page-entry--app .page-entry__wrapper {
  background-repeat: no-repeat;

  @include media-breakpoint-only(mobile) {
    padding-bottom: 29px;
    background-image: url("../img/raster/iphone-hand-mobile@1x.png");
    background-position: calc(50% - 31px) 86px;

    @supports (background-image: url("../img/raster/iphone-hand-mobile@1x.webp")) {
      background-image: url("../img/raster/iphone-hand-mobile@1x.webp");
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/raster/iphone-hand-mobile@2x.png");
      background-size: 258px auto;

      @supports (background-image: url("../img/raster/iphone-hand-mobile@2x.webp")) {
        background-image: url("../img/raster/iphone-hand-mobile@2x.webp");
      }
    }
  }

  @include media-breakpoint-only(tablet) {
    padding-bottom: 110px;
    background-image: url("../img/raster/iphone-hand-tablet@1x.png");
    background-position: right -20px top;

    @supports (background-image: url("../img/raster/iphone-hand-tablet@1x.webp")) {
      background-image: url("../img/raster/iphone-hand-tablet@1x.webp");
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/raster/iphone-hand-tablet@2x.png");
      background-size: 701px auto;

      @supports (background-image: url("../img/raster/iphone-hand-tablet@2x.webp")) {
        background-image: url("../img/raster/iphone-hand-tablet@2x.webp");
      }
    }
  }

  @include media-breakpoint-up(desktop) {
    padding-bottom: 122px;
    background-image: url("../img/raster/iphone-hand-desktop@1x.png");
    background-position: right -116px top;

    @supports (background-image: url("../img/raster/iphone-hand-desktop@1x.webp")) {
      background-image: url("../img/raster/iphone-hand-desktop@1x.webp");
    }

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/raster/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;

      @supports (background-image: url("../img/raster/iphone-hand-desktop@2x.webp")) {
        background-image: url("../img/raster/iphone-hand-desktop@2x.webp");
      }
    }
  }
}

.page-entry--app .page-entry__inner {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    max-width: calc((100% - 20px) / 2);
  }

  @include media-breakpoint-up(desktop) {
    max-width: 31.9148%;
    margin-left: calc((100% - 940px)/2);
  }
}

.page-entry__title {
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: #ffffff;

  @include media-breakpoint-only(mobile) {
    font-size: 24px;
    line-height: 28px;
  }

  @include media-breakpoint-only(tablet) {
    font-size: 50px;
    line-height: 58px;
  }

  @include media-breakpoint-up(desktop) {
    font-size: 50px;
    line-height: 60px;
  }
}

.page-entry--app .page-entry__title {
  @include media-breakpoint-only(mobile) {
    min-height: 370px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-only(tablet) {
    padding-top: 20px;
    margin-bottom: 33px;
    font-size: 40px;
    line-height: 47px;
  }

  @include media-breakpoint-up(desktop) {
    margin-bottom: 51px;
    padding-top: 9px;
  }
}

.page-entry__button {
  width: 100%;

  @include media-breakpoint-only(mobile) {
    margin-bottom: 22px;
  }

  @include media-breakpoint-only(tablet) {
    margin-bottom: 36px;
  }

  @include media-breakpoint-up(desktop) {
    margin-bottom: 58px;
  }
}

.page-entry__description {
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: #ffffff;

  @include media-breakpoint-only(mobile) {
    font-size: 14px;
    line-height: 24px;
  }

  @include media-breakpoint-up(tablet) {
    font-size: 18px;
    line-height: 24px;
  }
}

.page-entry__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;

  @include media-breakpoint-only(mobile) {
    margin: 0 0 9px;
  }

  @include media-breakpoint-only(tablet) {
    margin: 0 0 22px;
  }

  @include media-breakpoint-up(desktop) {
    margin: 0 0 40px;
  }
}

.page-entry__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  height: 80px;

  @include hover-effects()
}
