.form {
  @media (max-width: $mobile-only) {
    padding-bottom: 15px;
  }

  @media (min-width: $tablet) {
    margin-top: 40px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding-bottom: 51px;
  }
}

.form__section-container {
  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: $desktop-max-width;
    padding-left: $side-paddings-desktop;
    padding-right: $side-paddings-desktop;
  }
}

.form__section {
  @media (max-width: $mobile-only) {
    &--fio {
      padding: 38px 0 42px;
    }

    &--checks {
      padding: 38px 0 42px;
    }

    &--contacts {
      padding: 37px 0 42px;
    }

    &--radios {
      padding: 36px 0 42px;
    }

    &--text-area {
      padding: 38px 0 42px;
    }
  }

  @media (min-width: $tablet) {
    // padding: 72px 0 42px;

    &--fio {
      order: -4;
      padding: 30px 0;
    }

    &--radios {
      order: -3;
      padding: 30px 0;
    }

    &--contacts {
      order: -2;
      padding: 27px 0;
    }

    &--checks {
      order: -1;
      padding: 30px 0;
    }

    &--text-area {
      padding: 27px 0 42px;
    }
  }

  @media (min-width: $desktop) {
    &--fio {
      padding-top: 45px;
    }
  }

  @media (max-width: $mobile-only) {
    &:nth-child(even) {
      background-color: $color-background;
    }
  }
}

.form__section--fio {
  @media (min-width: $desktop) {
    // flex: 0 0 50%;
    // ie11
    width: 50%;
    flex-shrink: 0;
    padding-right: 35px;
  }
}

.form__section--radios {
  @media (min-width: $desktop) {
    // flex: 0 0 50%;
    // ie11
    width: 50%;
    flex-shrink: 0;
    padding-left: 35px;
  }
}

.form__section--contacts {
  @media (min-width: $desktop) {
    flex: 0 0 100%;
  }
}

.form__section--checks {
  @media (min-width: $desktop) {
    flex: 0 0 100%;
  }
}

.form__section--text-area {
  @media (min-width: $desktop) {
    flex: 0 0 100%;
  }
}

.form__fieldset-wrapper {
  @media (max-width: $tablet-only) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-only) {
    max-width: $mobile-max-width;
    padding-left: $side-paddings-mobile;
    padding-right: $side-paddings-mobile;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    max-width: $tablet-max-width;
    padding-left: $side-paddings-tablet;
    padding-right: $side-paddings-tablet;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  // text-align: center;

  @media (max-width: $mobile-only) {
    border: 0;
  }

  @media (min-width: $tablet) {
    border: 2px solid $color-controls;
  }
}

.form__section--radios .form__fieldset {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding: 46px 58px 51px;
  }

  @media (min-width: $desktop) {
    padding: 46px 31px 54px;
  }
}

.form__section--contacts .form__fieldset {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding: 37px 56px 30px;
  }

  @media (min-width: $desktop) {
    padding: 34px 58px 17px;
  }
}

.form__section--checks .form__fieldset {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding: 44px 56px 48px;
  }

  @media (min-width: $desktop) {
    padding: 44px 51px 55px 56px;
  }
}

.form__section--text-area .form__fieldset {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding: 37px 57px 51px;
  }

  @media (min-width: $desktop) {
    padding: 34px 57px 43px;
  }
}

.form__fieldset--no-border {
  border: 0;
}

.form__legend {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-primary;

  @media (max-width: $mobile-only) {
    margin-bottom: 39px;
  }

  @media (min-width: $tablet) {
    padding: 0 25px;
  }
}

.form__section--radios .form__legend {
  @media (max-width: $mobile-only) {
    margin-bottom: 36px;
  }
}

.form__section--text-area .form__legend {
  @media (max-width: $mobile-only) {
    margin-bottom: 16px;
  }
}

.form__legend--contacts {
  @media (max-width: $mobile-only) {
    @include visually-hidden;
  }
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__section--radios .form__list {
  @media (min-width: $desktop) {
    margin-left: 43px;
  }
}

.form__section--contacts .form__list {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.form__section--checks .form__list {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    margin: -43px 0 0;
  }
}

.form__item {
  @media (max-width: $mobile-only) {
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 52px;
    }
  }
}

.form__text-input-label {
  @media (max-width: $mobile-only) {
    margin-bottom: 9px;
    margin-left: 22px;
    margin-right: 15px;
  }

  @media (min-width: $tablet) {
    margin-right: 19px;
  }
}

.form__text-input-contacts .form__text-input-label {
  @media (min-width: $tablet) {
    margin: 14px 0 0 21px;
  }
}

.form__section--checks .form__item {
  @media (max-width: $tablet-only) {
    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }

  @media (min-width: $desktop) {
    margin: 43px 0 0;

    &--shark {
      order: 0;
      flex-basis: 38.3495%;
    }

    &--norris {
      order: 1;
      flex-basis: 35.6796%;
    }

    &--custle {
      order: 2;
      flex-basis: 25.4854%;
    }

    &--hot {
      order: 3;
      flex-basis: 38.3495%;
    }

    &--souvenir {
      order: 4;
      flex-basis: 35.6796%;
    }

    &--hotel {
      order: 5;
      flex-basis: 25.4854%;
    }
  }
}

.form__section--radios .form__item {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}

.form__section--contacts .form__item {
  @media (min-width: $tablet) and (max-width: $tablet-only) {
    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }

  @media (min-width: $desktop) {
    flex: 0 0 45.7317%;
    margin-bottom: 0;
  }
}

.form__area-text-input {
  @media (max-width: $mobile-only) {
    height: 201px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    height: 193px;
  }

  @media (min-width: $desktop) {
    height: 128px;
  }
}

.form__footer {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-only) {
    padding-top: 6px;
    flex-direction: column;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-top: 25px;
  }

  @media (min-width: $tablet) {
    width: 100%;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    margin-top: 23px;
  }
}

.form__button {
  @media (max-width: $mobile-only) {
    width: 100%;
    margin-bottom: 35px;
  }

  @media (min-width: $tablet) {
    width: calc(50% - 10px);
    max-width: 300px;
  }
}

.form__footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__footnote--no-matter {
  @media (max-width: $tablet-only) {
    display: none;
  }
}

.form__footnote-star {
  color: $color-primary;
}

.form__text-input-contacts {
  @media (min-width: $tablet) {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
