.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-only) {
    padding-top: 42px;
    padding-bottom: 35px;
  }


  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding-top: 31px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop) {
    position: relative;
    padding-top: 72px;
    padding-bottom: 48px;

    &::before {
      content: "";
      display: block;
      width: 79px;
      height: 64px;
      margin-bottom: 50px;
      background-image: url("../img/svg/icon-quotes.svg");
      background-repeat: no-repeat;
    }
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 100%;

  @media (max-width: $tablet-only) {
    margin-bottom: 26px;
  }
}

.reviews__one-review {
  margin: 0;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reviews__item {
  display: block;

  @media (min-width: $desktop) {
    max-width: 73.4%;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews__author {
  font-style: normal;

  @media (max-width: $mobile-only) {
    display: block;
    margin-bottom: 13px;
  }
}

.reviews__author-name {
  margin: 0;
  font-weight: 700;

  @media (max-width: $mobile-only) {
    font-size: 18px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    margin-bottom: 3px;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 3px;
    font-size: 24px;
  }
}

.reviews__author-details {
  margin: 0;

  @media (max-width: $mobile-only) {
    display: none;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  max-width: 100%;

  @media (min-width: $tablet) {
    order: -1;
    font-size: 18px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 35px;
  }
}

.reviews__slider-toggle {
  @media (max-width: $tablet-only) {
    display: none;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 209px;
    width: calc(100% - #{$side-paddings-desktop} * 2);
    left: $side-paddings-desktop;
  }
}

.reviews__slider-points {
  @media (max-width: $mobile-only) {
    order: 1;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    order: 1;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
