.header {
  min-height: 66px;
  background-color: $color-secondary;
}

.header__wrapper {
  @include media-breakpoint-down(tablet) {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-up(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
  }
}

.header__logo {
  @include media-breakpoint-down(tablet) {
    display: table;
  }

  @include media-breakpoint-only(mobile) {
    padding: 22px $side-paddings-mobile 24px;
  }

  @include media-breakpoint-only(tablet) {
    padding: 27px $side-paddings-tablet 42px;
  }

  @include media-breakpoint-up(desktop) {
    flex-shrink: 0;
    padding-bottom: 16px;
  }
}
