.radiocheck {
  display: flex;
  font-size: 18px;
  line-height: 30px;
  color: $color-text-base;
}

.radiocheck__input {
  @include visually-hidden();
}

.radiocheck__box {
  position: relative;
  flex-shrink: 0;
  background-color: white;
  border: 2px solid $color-controls;

  @media (max-width: $mobile-only) {
    margin-right: 31px;
  }

  @media (min-width: $tablet) {
    margin-right: 23px;
  }
}

.radiocheck__box--radio {
  width: 40px;
  height: 39px;
  border-radius: 50%;
}

.radiocheck__box--check {
  width: 39px;
  height: 39px;
  border-radius: 2px;
}

.radiocheck__caption {
  transform: translateY(4px);
  word-break: break-word;
}

.radiocheck__input:hover:not(:disabled)+.radiocheck__box {
  border-color: $color-secondary;
}


.radiocheck__input:focus:not(:disabled)+.radiocheck__box,
.radiocheck__input:active:not(:disabled)+.radiocheck__box {
  border-color: $color-primary;
}

.radiocheck__input:checked+.radiocheck__box--radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-primary;
}

.radiocheck__input:checked+.radiocheck__box--check::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='21.7' height='16.1' viewBox='-82.4 4.9 21.7 16.1' fill='%23d22856'%3E%3Cpath d='M-61 5.2a1 1 0 00-1.4 0l-13.4 13.4-4.9-5a1 1 0 10-1.4 1.5l5.6 5.6a1 1 0 001.5 0l14-14c.4-.5.4-1.1 0-1.5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.radiocheck__input:disabled+.radiocheck__box,
.radiocheck__input:disabled~.radiocheck__caption {
  opacity: 0.4;
}
