.intro {
  text-align: center;

  @media (max-width: $mobile-only) {
    padding: 45px 0 0;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding: 92px 25px 0;
  }

  @media (min-width: $desktop) {
    padding: 92px 90px 0;
  }
}

.intro__text {
  margin: 0;
  line-height: 30px;

  @media (min-width: $tablet) {
    font-size: 18px;
  }
}

.intro__mobile-hidden {
  @media (max-width: $mobile-only) {
    @include visually-hidden;
  }
}
