.price {}

.price__inner {
  @media (max-width: $mobile-only) {
    padding-top: 59px;
    padding-bottom: 41px;
  }

  @media (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    max-width: $tablet-max-width;
    padding-left: $side-paddings-tablet;
    padding-right: $side-paddings-tablet;
    padding-top: 37px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop) {
    max-width: $desktop-max-width;
    padding-left: $side-paddings-desktop;
    padding-right: $side-paddings-desktop;
    padding-top: 63px;
    padding-bottom: 95px;
  }
}

.price__table-wrapper {
  @media (max-width: $mobile-only) {
    width: 100%;
    margin-bottom: 34px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
}

.price__table {
  border-collapse: collapse;

  @media (max-width: $mobile-only) {
    scroll-snap-align: center;
  }

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.price__cell {
  @media (max-width: $mobile-only) {
    min-width: 320px - $side-paddings-mobile * 2;
  }

  @media (min-width: $tablet) {
    width: 25%;
  }
}

.price__cell--head {
  position: relative;
  z-index: 0;
  color: #ffffff;
  background-color: $color-secondary;
  border: 2px solid #f2f2f2;
  overflow: hidden;

  @media (max-width: $mobile-only) {
    padding: 16px;
    line-height: 30px;
  }


  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding: 14px 14px 10px;
    line-height: 27px;
  }

  @media (min-width: $desktop) {
    padding: 16px;
    line-height: 30px;
  }
}

.price__cell--option-name {
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  background-color: #ffffff;
  border: 2px solid $color-controls;

  @media (max-width: $mobile-only) {
    @include visually-hidden;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    padding: 7px 15px;
    font-size: 14px;
  }

  @media (min-width: $desktop) {
    padding: 14px 21px;
    font-size: 18px;
  }
}

.price__cell--x-cell {
  @media (max-width: $mobile-only) {
    @include visually-hidden;
  }
}

.price__cell--body {
  padding: 4px;
  background-color: #ffffff;
  border: 2px solid $color-controls;
  text-transform: uppercase;

  @media (max-width: $mobile-only) {
    padding-left: 22px;
    padding-right: 20px;
  }

  @media (min-width: $tablet) {
    text-align: center;
  }
}

.price__cell-wrapper {
  @media (max-width: $mobile-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
  }
}

.price__rate-name {
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $mobile-only) {
    font-size: 18px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }

}

.price__rate-name--hit {}

.price__rate-price {
  font-weight: 300;

  @media (max-width: $mobile-only) {
    font-size: 24px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
  }
}

.price__exra-option {
  @media (min-width: $tablet) {
    display: none;
  }
}

.price__slider-points {
  @media (min-width: $tablet) {
    display: none;
  }
}

.price__icon {
  @media (min-width: $tablet) {
    display: block;
    margin: 0 auto;
  }
}

.price__sticker {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100px;
  height: 29px;
  padding: 0 15px;
  line-height: 29px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-primary;
  user-select: none;
  transform-origin: top;

  @media (max-width: $mobile-only) {
    transform: translateX(-50%) rotate(-45deg) translateY(22px);
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    transform: translateX(-50%) rotate(-45deg) translateY(14px);
  }

  @media (min-width: $desktop) {
    transform: translateX(-50%) rotate(-45deg) translateY(22px);
  }
}
