.footer {
  display: flex;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  @media (max-width: $mobile-only) {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: $tablet) {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    min-height: 127px;
  }

  @media (min-width: $desktop) {
    min-height: 197px;
  }
}

.footer--hide-mobile {
  @media (max-width: $mobile-only) {
    display: none;
  }
}

.footer__logo {
  @media (max-width: $mobile-only) {
    margin-bottom: 39px;
  }

  @media (min-width: $tablet) {
    padding-bottom: 18px;
  }
}

.footer__socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-only) {
    margin-bottom: 38px;
  }

  @media (min-width: $tablet) {
    max-width: 40%;
  }
}

.footer__socials-item {
  margin-top: 10px;
  margin-left: 10px;
}


.footer__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border: 3px solid rgba($color-secondary, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    border-color: $color-secondary;
  }

  &:active {
    opacity: 0.1;
  }
}

.footer__socials-icon {
  fill: $color-primary;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: $tablet) and (max-width: $tablet-only) {
    flex-basis: 24%;
  }
}

.footer__copyright-text {
  margin-right: 14px;
  font-weight: 400;
  word-break: break-word;

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.footer__copyright-logo {
  display: block;
  fill: $color-primary;

  &:hover,
  &:focus {
    fill: $color-secondary;
  }

  &:active {
    opacity: 0.3;
  }
}
